body{
    background: black;
    color: white;
}
header{
    width: 100%;
    height: 100%;
    Border: solid 2px white;
}

#h2Home{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:66%;
    margin-left: auto;
    margin-right: auto; 
}
#h2OverMij{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:100%;
    margin-left: auto;
    margin-right: auto; 
}
#h2OverMijMain{
    width:66%;
    height:66%;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
} 
#h2Vaardigheden{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:100%;
    margin-left: auto;
    margin-right: auto; 
}
#h2Projecten{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:100%;
    margin-left: auto;
    margin-right: auto; 
}
#h2Nieuws{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:100%;
    margin-left: auto;
    margin-right: auto; 
}
#h2Contact{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:100%;
    margin-left: auto;
    margin-right: auto; 
}

#h2ContactenMain{
    display: flex;
    width:33%;
    height: 18%;
    color:goldenrod;
}

#home{
    display:flex;
    width:33%;
    justify-content: center;
    align-content: center;
    height:66%;
    border: solid 2px white;
    margin-left: auto;
    margin-right: auto;
}
#homeOverMij{
    display:flex;
    width:33%;
    justify-content: flex-start;
    align-content: center;
    margin-right: auto;
    height:66%;
    border: solid 2px white;
}

ul{
    flex-direction: column;
    color:goldenrod;
}

#homeContact{
    display:flex;
    flex-direction: column;
    align-content: center;
    width: 33%;
    height:66%;
    border: solid 2px white;
    font-size: 10px;
}
a{
    color: goldenrod;
}
nav {
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items:center;
    height:50px;
}

li{
    display:inline;
}
main {
    display:flex;
    width:100%;
    height: 500px;
}
#img1,#img2,#img3,#img4,#img5,#img6{
    width:100%;
}

footer{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 50px;
}
#datum{
    display:flex;
    align-items:center;
    flex-direction: row;
    margin-left: 2%;
    margin-bottom: 1%;
    border: solid 2px white;
    color: goldenrod;
}
#github{
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items:center;
    height:50px;
    border:solid 2px white;
}

.active{
    background-color: white;
    border-radius: 10%;
}

#img2, #img3, #img5, #img6{
    display: none;
}

#yeetrechts{
    width: 33%;
    height: 95%;
}

#yeetlink{
    width: 33%;
    height: 95%;
}

button{
    flex-direction: row;
    background: black;
    color:white;
    width: 9%;
    height: 55px;
}